body{
background: linear-gradient(121deg, #03709fd8, #000000);
background-attachment: fixed;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid rgb(8, 185, 212);
  border-radius: 10px;
  margin-bottom: 10px;
}
.logo{
  width: 100px;
  height: 100px;
}
ul{
  padding: 30px;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
  align-items: center;
  position: absolute;
  left: 50%;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.heroDiv{
  gap: 20px;
  display: flex;
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;

  
}
.heroImg{
  height: 500px;
}
.heroDiv h1{
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 12px 4px rgba(0, 0, 0, 0.784);
}
.heroDiv p{
  color: white;
  font-size: 20px;
  font-weight: 500;

}
.heroDiv button{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #03709f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 20px ;
}
.heroDiv button:hover{
  background-color: #025f7d;
  transform: scale(1.05);
}
.aboutme{
  
  display: flex;
  padding: 10px;
}
.heroImage2{
  width: 200px;
  height: 200px;
  margin-right: 5%;
}
.aboutme h1{
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 12px 4px rgba(0, 0, 0, 0.784);
}
.aboutme p{
  color: white;
  font-size: 20px;
  font-weight: 500;
  
}
.aboutme button{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #03709f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.aboutme button:hover{
  background-color: #0a1173;
  transform: scale(1.05);
}
 .skill-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.line {
  height: 10px;
  width: 300px; /* adjust length here */
  background: linear-gradient(to right, #031bcb, #9b0a27); /* optional gradient */
  border-radius: 50px; /* this gives curved edges */
}

.label {
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  margin-left: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.skills{
  margin: 20px;
}
.percentage{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.skill-line:hover{
  scale: 1.9;
  transition: scale 1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.heroText{
  text-align: center;
  color:liner-gradient(121deg, #03709fd8, #000000);
}
.cardContainer{
  display: flex;
  padding: 10px;
  margin: 10px;
}
.card{
  border: black 2px solid;
  margin: 15px;
  width: 300px;
  height: 200px;
  background-color: liner-gradient(121deg, #1690c8, #111abe);
  border-radius: 20%;
  padding: 10px;
}